@import '../base/variables.scss';
@import '../base/colours.scss';
@import '../base/mixins.scss';

.bar {
  display: flex;
  justify-content: space-between;
}
  
.nav {
  display: none;
  position: fixed;
  @include tablet {
    display: flex;
    position: static;//default
  }
}

.nav--float {
  display: block;
  top: 6rem;
  left: 0;
  background-color: rgba($color: $gradient-1, $alpha: 1);
  width: 100%;
  padding: $padding-elemt 0;

  @include tablet {
    width: auto;
    padding: 0;
    background-color: $header-bg;
  }
}

.nav-list {
  @include tablet {
    display: flex;
    align-items: center;
  }

  .nav-list__item {
    text-align: center;
    margin-bottom: calc($margin_elemt/2);
    a{
      transition-property: color;
      transition-duration: .5s;
      &:hover {
        color: $link-hover;
        @include buttonLink($buttonLink);
      } 
    }

    @include tablet {
      margin-right: $margin_elemt;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.icon-hamburguer {
  display: flex;
  @include tablet {
    display: none;
  }
}

.follow {
  .follow__icon {
    margin-right: $margin_elemt;
    &:last-of-type {
      margin-right: 0;
    }
  }
}